@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Skranji:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23242c;
}

body * {
  letter-spacing: 0.3px;
}

h1 {
  font-family: 'Skranji', cursive;
  color: #fff;
  padding-left: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff
}

h2 {
  font-size: 2rem;
}

p,a  {
  font-size: 1rem;
}

.remove-margin p:first-child {
  margin: 0;
}

.remove-margin p:not(:first-child) {
  margin-top: 20px;
}

.with-link a {
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.with-link a:after {
  content: " >"
}

#root {
  padding: 0 20px;
}

#root .active {
  color: #000;
  background-color: #ddd;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.pdfSize, .pdfSize div canvas, .pdfSize div .react-pdf__Page__textContent, .react-pdf__Page__annotations {
  width: 100% !important;
  height: auto !important;
}

@media screen and (min-width: 768px) {
  h1 {
    padding-left: unset;
  }
  #root {
    padding: 0;
  }
  .pdfSize, .pdfSize div canvas, .pdfSize div .react-pdf__Page__textContent, .react-pdf__Page__annotations {
    width: 612px !important;
    height: 792px !important;
    margin: auto;
  }
  #root .active {
    width: unset;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}